<p>users works!</p>
<!-- Redirecting With RouterLink -->
<div class="nav-item">
    <a class="nav-link" routerLinkActive="active" [routerLink]="['/']">Home</a>
</div>

<div class="nav-item">
    <a class="nav-link" routerLinkActive="active" [routerLink]="['/category']">Category</a>
</div>
<!--  -->

<span>
    <button class="btn btn-primary" (click)="gotousers()" > gotohome 
    </button>
    <button class="btn btn-primary" (click)="gotoCategories()" >gotoCategory</button>
</span>


<!-- Simple Router Link with query Parameters with fragment -->
<p>Simple Router Link with query Parameters with fragment</p>
<div>
    <a [routerLink]="['/user',2,'Shiva']" [queryParams]="{page:1,search:'kanishka'}" 
    [fragment]="'load'"
    >Get Details of Shiva with
        queryParams, Fragment </a>
</div>



<p>Setting up the child or Nested Routes using children key</p>
<!-- Multiplicative of li statments -->
<!-- <ul class="nav flex-column">
<li class="nav-item" >
    <a class="nav-link"  [routerLink]="['/users/user',1,'Rama']" [queryParams]="{page:1,search:'Rama'}" >Get Rama Details</a>
</li>
<li class="nav-item">
    <a class="nav-link"  [routerLink]="['/users/user',2,'krishna']" [queryParams]="{page:1,search:'krishna'}" >Get Krishna Details</a>
</li>
<li class="nav-item">
    <a class="nav-link"  [routerLink]="['/users/user',3,'Vishnu']" [queryParams]="{page:1,search:'Vishnu'}" >Get Vishnu Details</a>
</li>
</ul> -->

<!-- Showcasing of commonmodule in users module to run basic commnads like ngFor and ngIf -->
<ul class="nav flex-column">
<li class="nav-item" *ngFor="let user of usersData" >
    <a class="nav-link"  [routerLink]="['/users/user',1,user]" [queryParams]="{page:1,search:user}" >Get {{user | shortwords:3 }} Details</a>
</li>
</ul>

<!-- Every Nested Route Components should be rendered in the router Outlet   -->
<!-- <div>
    <router-outlet></router-outlet>
</div> -->


 <!--Subjects Variables  -->
 <div>
     <button type="button" class="btn btn-primary" (click)="onUserAddedClick()" >User Added Click Button</button>
 </div>
 <div>
    <router-outlet></router-outlet>
</div>