<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="signUpForm">

                <div class="form-group">
                    <label for="userName">User Name</label>
                    <input type="text" class="form-control" id="userName" name="userName" formControlName="userName">
                <span class="help-block" *ngIf="!signUpFormControls.userName.valid && signUpFormControls.userName.touched" > Please Enter Valid Username </span>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>

                    <input type="text" class="form-control" id="email" name="email" formControlName="email">
                    <span class="help-block"  *ngIf="!signUpFormControls.email.valid && signUpFormControls.email.touched"  > Please Enter Valid Email </span>
               
                </div>

                <div>Gender</div>
              <div *ngFor="let gender of genders" >
                  <label for="gender">
                      <input type="radio" name="gender" id="gender" [value]="gender" formControlName="gender" /> {{gender}}
                  </label>

              </div>


              <div class="form-group" *ngFor="let item of signUpFormhobbiesControls;let i = index" >
                <label for="email">Hobbies</label>

                <input type="text" class="form-control" id="hobby" name="hobby" [formControlName]="i">
            
            </div>

              

                <div class="mt-2">
                    <button class="btn btn-warning" (click)="onaddForms()">Add Hobby</button>
                    
                    <button class="btn btn-primary" (click)="onFomSubmit()">Add user</button>
                    <button class="btn btn-dark" (click)="reset()">Reset</button>

                </div>


            </form>




        </div>
    </div>
</div>