<div class="container">
    <div class="row">
     
        <div class="col-md-12">
<!-- Prefilling Data in the Form using setValue and patchvalue -->
            <div>
                <button class="btn btn-warning" (click)="prefillsetValue()" >Fill set Values</button>
                <button class="btn btn-warning" (click)="prefillpatchValue()" >Fill patch Values</button>

                 </div>

            <!-- Initiating the identtifier in the form and sending as a paramater  -->
            <!-- <form (ngSubmit)="onSubmit()" #f="ngForm"> -->

            <!-- Initiating the identtifier in the form and retriving from the viewchild  -->

                <form (ngSubmit)="onSubmit()" #f="ngForm">
             
                    <!-- We can initiate the ngModelGroup in two Different ways -->
                   <!-- <div ngModelGroup="userData">  -->
                       <div *ngIf="!userData.valid && userData.touched" > User Data is Invalid</div>
                   <div ngModelGroup="userData" #userData="ngModelGroup"> 

            <div class="form-group">
                <label for="userName">User Name</label>
                <input type="text" class="form-control" id="userName" name="userName"ngModel required>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
         <!-- You can acces form control in this also -->
                <!-- <input type="text" class="form-control" id="email" name="email" ngModel #email="ngModel" required email>
           <span class="help-text" *ngIf="!email.valid && email.touched" >Please Enter valid email</span>
               -->
                <input type="text" class="form-control" id="email" name="email" ngModel required email>
           <span class="help-text" *ngIf="f.controls.email && !f.controls.email.valid && f.controls.email.touched" >Please Enter valid email</span>
            </div>
        </div>

            <div class="form-group">
                <label for="gender">Gender</label>
               <!-- <select class="form-control"  id="gender" name="gender" ngModel="male"> -->

                <!-- Select with ngModel with Propert binding -->
                <select class="form-control"  id="gender" name="gender" [ngModel]="gender">
              
                <option value="male">Male</option>
                   <option value="female">Female</option>

               </select>
          
            </div>

            <div class="form-group">
                <label for="email">About</label>
       
                <textarea type="text" class="form-control" id="about" rows="3" name="about" [(ngModel)]="about" required></textarea>
         <span> {{about}} </span> 
            </div>


            <div class="mt-2">
                <button class="btn btn-primary" [disabled]="!f.valid">Add user</button>
            </div>
        </form>

     
    </div>
</div>
</div>