<p>user works!</p>
<!-- Rendering Dtaa Frthced from the Routes -->
<span>Id: {{user.id}}, Name: {{user.name}}</span>

<!-- Note:- Once the Data is loaded in to teh Conmponent then we redirect to the same compoenent then with parametrs data 
    then it wont reflet the updated data in the route  -->
<!-- Simple Router Link -->
<div>
    <a [routerLink]="['/user',2,'Shiva']">Get Details of Shiva</a>
</div>

<!-- Simple Router Link with qury Parameters -->
<p>  Simple Router Link with qury Parameters </p>
<div>
    <a [routerLink]="['/user',2,'Shiva']" [queryParams]="{page:1,search:'kanishka'}">Get Details of Shiva with
        queryParams </a>
</div>


<!-- Simple Router Link with query Parameters -->
<p>Simple Router Link with query Parameters</p>
<div>
    <a [routerLink]="['/user',2,'Shiva']" [queryParams]="{page:1,search:'kanishka'}">Get Details of Shiva with
        queryParams </a>
</div>

<!-- Simple Router Link with query Parameters with fragment -->
<p>Simple Router Link with query Parameters with fragment</p>
<div>
    <a [routerLink]="['/user',2,'Shiva']" [queryParams]="{page:1,search:'kanishka'}" 
    [fragment]="'load'"
    >Get Details of Shiva with
        queryParams, Fragment </a>
</div>


<p>Simple Router Link with query Parameters with fragment with queryparamshanling</p>
<div>
    <a [routerLink]="['/user',2,'Shiva']" [queryParams]="{page:1,search:'kanishka'}"  [queryParamsHandling]="'preserve'"
    [fragment]="'load'"
    >Get Details of Shiva with
        queryParams, Fragment </a>
</div>

<!-- Simple Router  with query Parameters with fragment from TS file -->

<span>
    <button class="btn btn-primary" (click)="getRamaDetails()" >Get Rama Details
    </button>
</span>


<!-- Preserve or Merge teh Query Parameter by Forwording with queryparamshanling in Angular -->
<p>Preserve or Merge teh Query Parameter by Forwording with queryparamshanling in Angular</p>
<span>
    <button class="btn btn-primary" (click)="oneditUser()" >Edit User</button>

</span>


